@include tablet {
  .brands {

    &__slider {
      margin: 0;
      display: flex;
      justify-content: center;
      width: 240px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &__header {
      height: 56px;
    }

    &__slide {
      width: 240px;
      height: 72px;
      margin-right: 16px;
    }
  }
}
