.gadget {

  &__slider {
    position: relative;
    margin-top: 16px;
  }

  &__container {
    overflow-x: scroll;
    white-space: nowrap;
  }

  &__container::-webkit-scrollbar { /* chrome based */
    width: 0;  /* ширина scrollbar */
  }

  &__slides {
    display: inline-flex;
    gap: 16px;
    margin-left: 16px;
  }

  &__slide {
    position: relative;
    width: 240px;
    height: 162px;
    font-weight: 600;
    line-height: 24px;

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
  }

  &__slide-txt {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &__slide-link {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DDDDDD;
    margin: 0 5px;
    cursor: pointer;
  }

  &__dot--active {
    background-color: #B5B6BC;
  }

  &--mob {
    display: none;
  }
}
