.services {
  overflow-x: auto;

  &__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__item {
    box-sizing: content-box;
    flex: 0 0 auto;
    margin-top: 24px;
  }

  &__btn {
    border: 2px solid transparent;
    transition: none;
    color: $services__btn-color;
    width: 100%;
    padding: 0 10px;
  }

  &__btn--active {
    background: $services__btn-background;
    border: 2px solid $services__btn-border;
    border-radius: 6px;
  }

  &__btn:hover {
    background: $services__btn-background;
    border: 2px solid $services__btn-border;
    border-radius: 6px;
  }
}
