.swiper {
  margin-top: 16px;
  width: 100%;
  height: 120px;
}

.swiper-wrapper {
  margin-left: 16px;
}

.swiper-pagination-bullet {
  width: 12px!important;
  height: 12px!important;
  background: #DDDDDD!important;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC!important;
}

