/*Common*/
$back: #F8F8F8;
$text: #1B1C21;
$line: #41F6D7;
$divider: #EAEAEA;
$overlay: #FFFFFF;

/*Media*/
$breakpoint_xxl: 1120px;
$breakpoint_md: 768px;
$breakpoint_sm: 320px;

/*Aside*/
$aside_back: #FFFFFF;;
$nav_text_active: #7E7E82;
$footer-lang--active: #7E7E82;
$aside_shadow: 16px 0 52px rgba(14, 24, 80, 0.2);

/*Header*/
$header_back: #FFFFFF;
$btn_back: #FF3E79;

/*Form*/
$feedback_back: #FFFFFF;
$btn_sent:#FF3E79;
$input_border: #EAEAEA;
$btn_sent_text: #FFFFFF;
$feedback__text: #7E7E82;
$feedback_link: #FF3E79;
$form_shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);

/*Main*/
$services__btn-background: #FFFFFF;
$services__btn-border: #B8FFEC;
$services__btn-color: #7E7E82;
$brands__header-border: #D9FFF5;
$brands__header-background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
$brands__cards-background: #FFFFFF;
$brands__cards-border: #EAEAEA;
$brands__title-color: #7E7E82;

/*Footer*/
$footer: #D9FFF5;
$footer__text: #7E7E82;



